.wp-list-toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.wp-list-toggle input {
  display: none;
}
.wp-list-toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}
.wp-list-toggle .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.wp-list-toggle input:checked + .slider {
  background-color: #4caf50;
}
.wp-list-toggle input:checked + .slider:before {
  transform: translateX(20px);
}
.wp-list-toggle input:disabled + .slider {
  background-color: #e1e1e1de;
  pointer-events: none;
}
.status.column-status {
  display: grid;
}
.column-name .description {
  font-size: 10px;
  color: #555;
}
.taxonomy-details {
  margin-top: 8px;
  padding: 8px;
  background: #f9f9f9;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  font-size: 14px;
  color: #333;
  width: 100%;
}
.taxonomy-data {
  margin-bottom: 8px;
  display: grid;
  gap: 10px;
  align-items: baseline;
}
.taxonomy-data:last-child {
  margin-bottom: 0;
}

.tax-name {
  font-weight: bold;
  color: #555;
  min-width: 80px;
  display: inline-block;
}

.tax-terms {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.tax-term {
  background: #eef3f9;
  color: #2b4a7f;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 13px;
  border: 1px solid #d0d7e5;
  transition: all 0.2s ease-in-out;
}

.tax-term:hover {
  background: #d0e0f7;
  color: #1d3557;
  cursor: default;
}
.taxonomy-extra {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.view-more-btn {
  display: inline-block;
  color: #2271b1;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
}
.wpcd-hidden {
  display: none;
}
tr {
  position: relative;
}
td .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 47%;
  background: rgba(255, 255, 255, 0.8);
  color: red;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  z-index: 10;
  pointer-events: none;
  padding-top: 47px;
}
.terminate-progress-link {
    color: #d63638; 
    text-decoration: none;
}

.terminate-progress-link:hover {
    color: #a50000;
}